<div class="post-preview post-preview-index">
    <a href="<%- url_for(post.path) %>">
        <% if (post.image_url) { %>
            <img class="w-100 thumbnail"
                src="<%- post.image_url.includes('://') ? post.image_url : url_for(post.image_url) %>"
                alt="<%- post.title || theme.default_post_title || " Untitled" %>"
            >
        <% } %>
        <h2 class="post-title">
            <%- post.title || theme.default_post_title || "Untitled" %>
        </h2>
        <% if (post.subtitle && post.subtitle.length) { %>
            <h3 class="post-subtitle">
                <%- post.subtitle %>
            </h3>
        <% } %>
    </a>

    <% if (post.excerpt && post.excerpt.length) { %>
        <p class="post-excerpt mx-1">
            <%- post.excerpt %>
        </p>
    <% } %>
    <a href="<%- url_for(post.path) %>" class="btn btn-primary text-white btn-block">Read More</a>
</div>
<hr>